#log-viewer-root {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#log-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
}

#log-filter {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  height: 50px;
}

#log-data {
  position: absolute;
  top: 50px;
  left: 200px;
  right: 0;
  bottom: 0;
}
